* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

#main-nav {
    background-color: rgba(226, 221, 221, 0.8);
}

#company-profile {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 70px;
    text-align: right;
}

#profile-right {
    
}

#company-logo-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
}

#favorite-company-from-logo {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 45px;
    background: linear-gradient(90deg, #4E4187 0%, #3e3565 50%);
    border-radius: 50%;
    text-align: center;
    line-height: 52px;
}


#company-logo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 21px 7px #cecece;
    text-align: center;
    margin-bottom: 25px;
}

#company-name {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #050509;
}

#company-job {
    font-size: 16px;
    line-height: 13px;
    color: #7b8184  ;
}

#profile-right .rate {
    margin-right: 17px;
    display: inline-block;
    margin-top: 20px;
}

#appointment-button {
    width: 40%;
    margin: 20px;
    margin-right: -4px;
    background: linear-gradient(90deg, #4E4187 0%, #3e3565 50%);
    color: white;
    font-weight: bold;
    border-radius: .25rem .25rem;
    padding: 13px 15px;
    box-shadow: none;
}

#set-app-button {
    color: white;
    padding-right: 3px;
    border: none;
    background-color: transparent;
}

#company-details {
    /* margin-top: 35px; */
}

#company-details p {
    font-size: 13   px;
}


.details-headlines {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #a2a4a5;
}

#statistics-bar {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px #ebebeb;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    text-align: center;
}

.statistics-bar-item-number {
    font-weight: bold;
    color: #616161;
}

.statistics-bar-item {
    position: relative;
    width: 33%;
}

.statistics-bar-item:not(:last-child):after {
    content: "";
    height: 40px;
    width: 1px;
    background-color: #ebebeb;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%)
}