* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}

#company-profile {
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 70px;
    text-align: right;
}

#profile-right {
    
}


#company-logo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: 0 0 21px 7px #cecece;
    text-align: center;
    margin-bottom: 25px;
}

#company-name {
    font-size: 22px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #050509;
}

#company-job {
    font-size: 16px;
    line-height: 13px;
    color: #7b8184  ;
}

#profile-right .rate {
    margin-right: 17px;
    display: inline-block;
    margin-top: 20px;
}

#company-details {
    margin-top: 35px;
}

#company-details p {
    font-size: 13   px;
}


.details-headlines {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
    color: #a2a4a5;
}

#appointment-button {
    width: 150px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 7px;
    background: linear-gradient(90deg, #4E4187 0%, #3e3565 50%);
    color: white;
    font-weight: bold;
    border-radius: .25rem;
    padding: 13px 15px;
    box-shadow: none;
    
}

#appointment-button i {
    margin-left: 5px;
}