/* Navbar */
.navbar-brand {
    display: inline;
}

#main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px #3a3a3a3d;
}

#logo {
    font-size: 30px;
}

#slogen {
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

#main-nav.floating {
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999999;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
    padding: 5px 15px;
    color: #253246;
}

#main-nav .nav-link.border {
    border-radius: 35px;
    background-color: #139e81;
    color: #fff;
    font-weight: bold;
}

.nav-link.border:hover {
    background-color: #fff;
    color: #17a2b8 !important;
}

.nav-item:not(:last-child) {
    margin-left: 20px;
}

.scroll-downs {
    position: absolute;
    margin: auto;
    width: 25px;
    height: 40px;
}

.mousey {
    width: 0;
    padding: 5px 13px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
    position: relative;
}

.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}

  /* Footer */
  #main-footer * {
      text-align: right;
      direction: rtl;
  }

  #main-footer .list-unstyled {
      padding-right: 0;
  }

  #main-footer {
      background-color: #1A1C1D;
      color: #b7c3c8;
  }

  #main-footer a {
    color: #b7c3c8;
  }

  #main-footer a:hover {
      text-decoration: none;
      color: #139e81;
  }

  #main-footer .footer-copyright {
      background-color: #111212 !important;
  }

  #main-footer .font-weight-bold {
      color: #fff;
      position: relative;
      padding-bottom: 15px;
  }

  #main-footer .font-weight-bold:before {
    content: "";
    height: 3px;
    width: 35px;
    background: #139e81;
    position: absolute;
    right: 0;
    bottom: 0px;
    z-index: 1;
}

#cards-list {
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: left;
}

#cards-list li {
    display: inline-block;
    list-style: none;
}

#footer-top {
    padding: 10px 0;
}

#main-footer .social-link {
    margin-top: 10px;
    padding-right: 0;
}

#main-footer .social-link li {
    display: inline-block;
}

.cute-btn {
    background-color: #fff568;
    border: none;
    padding: 11px 25px;
    font-size: 15px;
    border-radius: 35px;
    cursor: pointer;
    margin: auto;
    color: #444;
    transition: 0.1s ease-in-out;
    display: inline-block;
}

.cute-btn-2 {
    background: #139e81;
    color: #fff;
    line-height: 13px;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
    -ms-transition: .2s ease,color .2s ease;
    -webkit-transition: .2s ease,color .2s ease;
    -moz-transition: .2s ease,color .2s ease;
    transition: .2s ease,color .2s ease;
}

.cute-btn-2:hover {
    background-color: #247a68;
    text-decoration: none;
    color: #fff;
}

/* Slick dots fix */
.slick-dots {
    list-style: none;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: -10px;
    margin-bottom: 10px;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li button {
    margin: 0 5px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 13px;
    width: 13px;
    border: none;
    text-indent: -9999px;
    padding: 0;
}

.slick-dots li.slick-active button {
    background-color: rgba(0, 0, 0, 0.7);
}

.slick-arrow {
    display: none !important;
}

/* Stars */
.stars {
    cursor: pointer;
  }
  .stars:hover .star polygon {
    fill: #ffd055 !important;
  }
  .stars .star {
    float: left;
  }
  .stars .star polygon {
    fill: #d8d8d8;
  }
  .stars .star:hover ~ .star polygon {
    fill: #d8d8d8 !important;
  }
  .stars[data-stars] .star polygon {
    fill: #ffd055;
  }
  .stars[data-stars="1"] .star:nth-child(1) ~ .star polygon {
    fill: #d8d8d8;
  }
  .stars[data-stars="2"] .star:nth-child(2) ~ .star polygon {
    fill: #d8d8d8;
  }
  .stars[data-stars="3"] .star:nth-child(3) ~ .star polygon {
    fill: #d8d8d8;
  }
  .stars[data-stars="4"] .star:nth-child(4) ~ .star polygon {
    fill: #d8d8d8;
  }
  .stars[data-stars="5"] .star:nth-child(5) ~ .star polygon {
    fill: #d8d8d8;
  }
  
  .site-wrap {
      margin-top: 100px;
  }